{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('players_create', team_id = team_id) }}">
    <p>{{team_id}}</p>
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.number.label }}
            </td>
            <td>
                {{ form.number }}
            </td>
        </tr>
        <td colspan="2">
            <input type="submit" value="Create a player"/>
        </td>
    </table>
</form>

{% endblock %}